body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
}
input, button {
    padding: 10px;
    margin: 10px;
    width: 250px;
}
img {
    margin: 10px;
    border: 1px solid #ccc;
}
